-
	var facebookLink = "https://www.facebook.com/share.php?u="+og_url
	var twitterLink  = "https://twitter.com/share?count=horizontal&original_referer="+og_url+"&text="+siteTitle+" | 東京ディズニーリゾート"+"&url="+og_url
	var lineLink     = "https://line.naver.jp/R/msg/text/?"+siteTitle+" | 東京ディズニーリゾート"+og_url

.pageTop
header#contentHeader
	.header_inner
		.header_navTrigger
			a(href="javascript:void(0)")
				.header_navTrigger_line
					span
					span
					span
				p Menu
		.header_navOpen
			.header_navOpen_inner
				.header_navOpen_lists
					ul.header_navOpen_list
						li
							a(href="https://www.tokyodisneyresort.jp/special/fantasysprings/" target="_top")
								.header_navOpen_list-txtWrap
									p.jp ファンタジースプリングス TOP
								.header_navOpen_list-arrow
									img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						li
							a(href="./" target="_top")
								.header_navOpen_list-txtWrap
									p.jp ファンタジースプリングス グッズ TOP
								.header_navOpen_list-arrow
									img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						li
							a(href="./goods1.html" target="_top")
								.header_navOpen_list-txtWrap
									p.jp 「ファンタジースプリングス」をテーマにしたグッズ
								.header_navOpen_list-arrow
									img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						li
							a(href="https://www.tokyodisneyresort.jp/happy/goods/monthlydreams/fantasysprings/")
								.header_navOpen_list-txtWrap
									p.jp Disney Monthly Dreams<br>グランドオープンを記念したグッズをお届けする<br>ファンタジースプリングス・アートコレクション
								.header_navOpen_list-arrow
									img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						//- li.hidden
						//- 	a(href="")
						//- 		.header_navOpen_list-txtWrap
						//- 			p.jp 「ファンタジースプリングス」の<br>壮大な美しい世界観をテーマにしたグッズ
						//- 		.header_navOpen_list-arrow
						//- 			img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						//- li.hidden
						//- 	a(href="")
						//- 		.header_navOpen_list-txtWrap
						//- 			p.jp 「ピーターパンのネバーランドアドベンチャー」を<br>テーマにしたグッズ
						//- 		.header_navOpen_list-arrow
						//- 			img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						//- li.hidden
						//- 	a(href="")
						//- 		.header_navOpen_list-txtWrap
						//- 			p.jp 「フェアリー・ティンカーベルのビジーバギー」を<br>テーマにしたグッズ
						//- 		.header_navOpen_list-arrow
						//- 			img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						//- li.hidden
						//- 	a(href="")
						//- 		.header_navOpen_list-txtWrap
						//- 			p.jp 「ラプンツェルのランタンフェスティバル」を<br>テーマにしたグッズ
						//- 		.header_navOpen_list-arrow
						//- 			img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						//- li.hidden
						//- 	a(href="")
						//- 		.header_navOpen_list-txtWrap
						//- 			p.jp 「アナとエルサのフローズンジャーニー」を<br>テーマにしたグッズ
						//- 		.header_navOpen_list-arrow
						//- 			img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
						//- li.hidden
						//- 	a(href="")
						//- 		.header_navOpen_list-txtWrap
						//- 			p.jp 「東京ディズニーシー・ファンタジースプリングスホテル」を<br>イメージしたデザインのグッズ
						//- 		.header_navOpen_list-arrow
						//- 			img(src=root+"./../assets/images/common_btn_icon_02.webp", alt="")
