section.Goodslist
  h3 他のグッズを見る
  ul
    //- li.goods1
    //-   a(href="")
    //-     img(src=root+"./../assets/images/goodslist_sample.png", alt="")
    //-     p 「ファンタジースプリングス」の<br>ロゴやアトラクションのポスター<br>をテーマにしたグッズ
    li.goods2
      a(href="https://www.tokyodisneyresort.jp/happy/goods/monthlydreams/fantasysprings/")
        img(src=root+"./../assets/images/goodslist_goods2.webp", alt="")
        p Disney Monthly Dreams<br>グランドオープンを記念した<br>グッズをお届けする<br>ファンタジースプリングス・<br>アートコレクション
    //- li.goods3.hidden
    //-   a(href="")
    //-     img(src=root+"./../assets/images/goodslist_goods3.webp", alt="")
    //-     p 「ファンタジースプリングス」の<br>壮大な美しい世界観を<br>テーマにしたグッズ
    //- li.goods7.hidden
    //-   a(href="")
    //-     img(src=root+"./../assets/images/goodslist_goods7.webp", alt="")
    //-     p 「アナとエルサの<br>フローズンジャーニー」を<br>テーマにしたグッズ
    //- li.goods6.hidden
    //-   a(href="")
    //-     img(src=root+"./../assets/images/goodslist_goods6.webp", alt="")
    //-     p 「ラプンツェルのランタン<br>フェスティバル」を<br>テーマにしたグッズ
    //- li.goods4.hidden
    //-   a(href="")
    //-     img(src=root+"./../assets/images/goodslist_goods4.webp", alt="")
    //-     p 「ピーターパンの<br>ネバーランドアドベンチャー」を<br>テーマにしたグッズ
    //- li.goods5.hidden
    //-   a(href="")
    //-     img(src=root+"./../assets/images/goodslist_goods5.webp", alt="")
    //-     p 「フェアリー・ティンカーベルの<br>ビジーバギー」を<br>テーマにしたグッズ
    //- li.goods8.hidden
    //-   a(href="")
    //-     img(src=root+"./../assets/images/goodslist_goods8.webp", alt="")
    //-     p 「東京ディズニーシー・<br>ファンタジースプリングスホテル」をイメージしたデザインのグッズ
